<!DOCTYPE html>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>-->
<script src="controller.js"></script>


<link rel="stylesheet" href="./animation.css"></link>

	<title>RBC Wealth Manager Finder</title>
</head>

<body>
	<div ng-controller="AppCtrl" ng-init="displayQuestions()">
	<form class="form-horizontal">
		<div class="row" ng-repeat="question in questionlist | orderBy:'sectionid' | filter: filterQuestions" ng-animate="'animate'">
			<div class="col-xs-10 col-xs-push-1">
				<div id="section-1" class="panel panel-primary">
					<div class="panel-heading">
						<h2>{{question.sectionname}}</h2>
					</div>
				  	<div class="panel-body" >
				  		<div ng-repeat="q in question.qlist">
				  			<div class="form-group row">
				  			<div class="col-xs-10">
				  				<label class="control-label">{{q.content}}</label>
				  			</div>
					  		</div>
					  		<div class="form-group row" ng-repeat="option in q.options">
				  				<div class="col-xs-12">
				  				<label class="control-label">
				  					<input type="radio" name="radio{{q.id}}" id="radios-0" value="{{q.id}}-{{$index}}" ng-model="$parent.optionsData['value'+q.id]" >
				  						{{option}}
				  					</label>
				  				</div>
					  		</div>

					  		<tt>{{optionsData | json}}</tt>

				  		</div>
				  		
				  		

				  	</div>
				  	<div class="panel-footer">
				  		<div class="row">
				  			<div class="col-xs-6">
				  			<label class="control-label">Importance?</label>
					  		</div>
					  		
					  		<div class="col-xs-6">
							    <select ng-model="optionsData.priority" id="selectbasic" name="selectbasic" class="form-control">
							      <option value="Very_Important" >Very Important</option>
							      <option value="Important">Important</option>
							      <option value="Average">Average</option>
							      <option value="Least_Important">Least Important</option>
							    </select>
						  	</div>
						  	<tt>{{optionsData.priority | json}}</tt>

				  		</div>
				  		<div class="row container">
				          <div class="pull-right">
				            <button class="btn btn-primary btn-lg" ng-click= "getnextsection(question.sectionid)">Continue</button>
				          </div>
				          
				        </div>

					  	</div>
					</div>
				</div>
			</div>

			

		</form>
	</div>

</body>





</html>	